<br>
<br>
<br>
<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h5 class="text-center" style="color: #fff;">Nos sentimos orgullosos de nuestros patrocinadores, quienes están comprometidos con
                nuestra causa. Reconocemos que detrás de una empresa o marca, está la firme convicción de un equipo de
                personas comprometidas a .............</h5>
        </div>
    </div>
</section>
<div class="container">

    <div style="margin-bottom: 10%"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="https://www.queretaro.travel/es/" target="_blank">
                        <img src="assets/img/sponsors/qroTravel.svg" alt="" class="imagenlogo">
                    </a>
                </figure>
                <div class="wrapper">
                    <h6>Podríamos darle muchas razones por las que debería visitar Querétaro,
                        pero el la verdad es que nunca terminaríamos: clima templado durante todo el
                        año, gente acogedora, gastronomía deliciosa, relevancia histórica y hermosos paisajes</h6>
                    <p class="sitio"><a href="https://www.queretaro.travel/es/" target="_blank"></a> Visitar web</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="https://www.queretaro.gob.mx/" target="_blank">
                        <img src="assets/img/sponsors/gobierno-del-estado-de-queretaro.png" alt="" class="imagenlogo">
                    </a>
                </figure>
                <div class="wrapper">
                    <h6>Santiago de Querétaro, donde se detonó el movimiento de Independencia de México, guarda entre
                        sus muros leyendas e historias compartidas como tesoros arquitectónicos y artísticos.</h6><br>
                    <p class="sitio"><a href="https://www.queretaro.gob.mx" target="_blank"></a> Visitar web</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="http://www.corregidora.gob.mx/portal/" target="_blank">
                        <img src="assets/img/sponsors/corregidora.png" alt="" class="imagenlogo">
                    </a>
                </figure>
                <div class="wrapper">
                    <h6>El municipio de Corregidora se ubica al suroeste del estado de Querétaro y cuenta con una
                        extensión de 245.8 kilómetros cuadrados</h6><br><br>
                    <p class="sitio"><a href="http://www.corregidora.gob.mx/portal/" target="_blank"></a> Visitar web
                    </p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="text-center">INSPIRACIÓN PARA TU VIAJE</h5>
            <br><br>
        </div>
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="http://www.corregidora.gob.mx/portal/" target="_blank">
                        <img src="https://www.queretaro.travel/media/events/78738469_1399799506846826_1621969621668069376_o.jpg"
                            alt="" class="imagenevento">
                    </a>
                </figure>
                <div class="card-description">
                    <p class="article-title">
                        Wine Colors Music Festival 2020
                    </p>
                    <div class="article-text">
                        <div class="ellipsis">
                            <div>
                                El único festival de los colores del vino
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="https://www.queretaro.travel/es/eventos/190/oriunda/" target="_blank">
                        <img src="https://www.queretaro.travel/media/events/49283502_1629561877144963_3353096627437961216_n.jpg"
                            alt="" class="imagenevento">
                    </a>
                </figure>
                <div class="card-description">
                    <p class="article-title">
                        Oriunda
                    </p>
                    <div class="article-text">
                        <div class="ellipsis">
                            <div>
                                Ideas. Innovación. Vanguardia. Color.
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box_grid_tour">
                <figure>
                    <a href="http://www.corregidora.gob.mx/portal/" target="_blank">
                        <img src="https://www.queretaro.travel/media/events/81589299_1411501202351984_832321214075633664_o.png"
                            alt="" class="imagenevento">
                    </a>
                </figure>
                <div class="card-description">
                    <p class="article-title">
                        Feria Nacional del Queso y el Vino
                    </p>
                    <div class="article-text">
                        <div class="ellipsis">
                            <div>
                                Tres fines de semana, del 22 de mayo al 07 de junio. Parque La Pila, en Tequisquiapan,
                                Querétaro.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.youtube.com/embed/bYwCDQsCiUU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.youtube.com/embed/8wec6judQgg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <h5>Interesado en patrocinar LOKKL?</h5>
                <p>Póngase en contacto con <a href="mailto:iam@lokkl.com">iam@lokkl.com</a> o visite </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 10%"></div>