<br><br>
<button mat-fab shareButton="facebook" class="botoncirculo" [style.backgroundColor]="share.prop.facebook.color">
    <fa-icon [icon]="share.prop.facebook.icon"></fa-icon>
</button>
<button mat-fab shareButton="twitter" class="botoncirculo" [style.backgroundColor]="share.prop.twitter.color">
    <fa-icon [icon]="share.prop.twitter.icon"></fa-icon>
</button>
<button mat-fab shareButton="linkedin" class="botoncirculo" [style.backgroundColor]="share.prop.linkedin.color">
    <fa-icon [icon]="share.prop.linkedin.icon"></fa-icon>
</button>
<button mat-fab shareButton="whatsapp" class="botoncirculo" [style.backgroundColor]="share.prop.whatsapp.color">
    <fa-icon [icon]="share.prop.whatsapp.icon"></fa-icon>
</button>
<button mat-fab shareButton="telegram" class="botoncirculo" [style.backgroundColor]="share.prop.telegram.color">
    <fa-icon [icon]="share.prop.telegram.icon"></fa-icon>
</button>
<button mat-fab shareButton="print" class="botoncirculo" [style.backgroundColor]="share.prop.print.color">
    <fa-icon [icon]="share.prop.print.icon"></fa-icon>
</button>
<button mat-fab shareButton="email" class="botoncirculo" [style.backgroundColor]="share.prop.email.color">
    <fa-icon [icon]="share.prop.email.icon"></fa-icon>
</button>