<div id="register_bg">


    <nav id="menu" class="fake_menu"></nav>

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="preloader" style="display: none;">
            <div data-loader="circle-side" style="display: none;"></div>
        </div>
        <div id="login">
            <aside>
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="CambiarPassword()">
                    <br><br>

                    <div class="form-group">
                        <label>{{ 'login.Yourpassword' | translate }}</label>
                        <input formControlName="password" name="password" class="form-control" type="password" required placeholder="{{ 'login.Password' | translate }}">
                        <i class="icon_lock_alt"></i>
                    </div>

                    <div class="form-group">
                        <label>{{ 'login.Confirmpassword' | translate }}</label>
                        <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="{{ 'login.Password' | translate }}">
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                        <div class="text-danger">
                            <p>
                                <b>Passwords do not match.</b>
                            </p>
                        </div>
                    </div>

                    <button class="btn_1 rounded full-width add_top_30">{{ 'profile.Send' | translate }}</button>
                    <div class="text-center add_top_20">{{ 'login.Alreadyhaveanacccount?' | translate }}
                        <strong><a routerLink="/login">{{ 'header.Signup' | translate }}</a></strong>
                    </div>
                </form>
            </aside>
        </div>
    </div>
    <!-- End Preload -->

    <!-- /login -->


</div>