<div class="fondomosaico">
    <div class="row no-gutters">

        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Italia.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Japan.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/France.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/England.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Spain.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Mexico.jpg" alt="Mexico">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/China.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Egypt.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/USA.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Germany.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Greece.jpg">
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <img src="assets/img/aboutus/mosaico/Rusia.jpg">
            </div>
        </div>

    </div>
</div>