<section class="hero_in general">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp">{{'aboutus.TitleAboutUs' | translate }}</h1>
        </div>
    </div>
</section>
<div class="bg_color_1">
    <div class="row no-gutters">
        <div class="col-sm-6 fondoopaco">
            <img src="assets/img/aboutus/Friends_aboutus.jpg" width="100%" alt="">
        </div>
        <div class="col-sm-6" style="padding: 53px;margin: auto">
            <h3 style="text-align: center" [innerHTML]="'aboutus.Titlesection1' | translate "></h3>
            <p class="paragraph-5" [innerHTML]="'aboutus.contenidosection1' | translate "></p>
        </div>

    </div>
</div>
<!-- // end .section -->

<app-mosaico></app-mosaico>
<div class="bg_color_1">
    <div class="container">
        <div class="main_title_2">
            <h2>{{'aboutus.Titlesection2' | translate }}</h2>
            <p style="text-align: center">{{'aboutus.subtitlesection2' | translate }}</p>
        </div>
        <div class="row">
            <div class="wow fadeInUpBig col-lg-4 col-md-6" data-wow-delay=".3s">
                <a class="box_feat">
                    <i><img src="assets/img/icons/aboutus/place.png" style="width: 30%" alt="" srcset=""></i>
                    <h3>{{'aboutus.caracteristicastitle1' | translate }}</h3>
                    <p>{{'aboutus.caracteristicacontenido1' | translate }}</p>
                </a>
            </div>
            <div class="wow fadeInUpBig col-lg-4 col-md-6" data-wow-delay=".3s">
                <a class="box_feat">
                    <i><img src="assets/img/icons/aboutus/sand-clock.png" style="width: 30%" alt="" srcset=""></i>

                    <h3>{{'aboutus.caracteristicastitle2' | translate }}</h3>
                    <p>{{'aboutus.caracteristicacontenido2' | translate }}</p>
                </a>
            </div>
            <div class="wow fadeInUpBig col-lg-4 col-md-6" data-wow-delay=".3s">
                <a class="box_feat">
                    <i><img src="assets/img/icons/aboutus/plane.png" style="width: 30%" alt="" srcset=""></i>
                    <h3>{{'aboutus.caracteristicastitle3' | translate }}</h3>
                    <p>{{'aboutus.caracteristicacontenido3' | translate }}</p>
                </a>
            </div>
        </div>
        <!--/row-->
    </div>
</div>
<!-- /container -->

<div class="bg_color_1">
    <!-- Start Story Area -->
    <div class="section-21 full-screen background-image-side">
        <div class="background-azul wow slideInUp" data-wow-delay=".5s">
            <div class="row" style="margin:0">
                <div class="col-sm-6 m-auto text-center">
                    <div class="mensaje">
                        <br><br><br><br><br><br>
                        <h1 style="color:#fff">{{'aboutus.mensajetitle' | translate }} </h1>
                        <br>
                        <p class="short-paragraph margin-bottom" style="text-align: center">{{'aboutus.mensajecontenido' | translate }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Story Area -->
    <section class="section" style="background-color: #fafafa;">
        <div class="container margin_60">
            <div class="row">
                <div class="col-10 m-auto text-center">
                    <h5 style="color: #004ea2;">{{'aboutus.mensajetitle2' | translate }}</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Remarkable Wroks Area -->
    <div class="section-21a">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-2 wow slideInRight imagenservice">
                        <img src="assets/img/aboutus/seguridad.png" alt="" width="102">
                        <h3>{{'aboutus.servicio1' | translate }}</h3>
                    </div>
                    <div class="col-sm-9 wow slideInLeft centerpadding">
                        <div class="textoazul">
                            <p class="margin-bottom">{{'aboutus.servicio1contendio' | translate }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-21a" style="background-color: #fafafa;">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-2 wow slideInRight imagenservice responsive">
                        <img src="assets/img/aboutus/calidad.png" alt="" width="102">
                        <h3>{{'aboutus.servicio2' | translate }}</h3>
                    </div>
                    <div class="col-sm-9 wow slideInLeft centerpadding2">
                        <div class="textoazul">
                            <p class="margin-bottom">{{'aboutus.servicio2contendio' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-sm-2 wow slideInRight imagenservice noresponsive">
                        <img src="assets/img/aboutus/calidad.png" alt="" width="102">
                        <h3>{{'aboutus.servicio2' | translate }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-21a">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-2 wow slideInRight imagenservice">
                        <img src="assets/img/aboutus/confort.png" alt="" width="102">
                        <h3>{{'aboutus.servicio3' | translate }}</h3>
                    </div>
                    <div class="col-sm-9 wow slideInLeft centerpadding">
                        <div class="textoazul">
                            <p class="margin-bottom">{{'aboutus.servicio3contendio' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Remarkable Wroks Area -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="main_title_2">
                    <small style="text-align: center;color: #998a9b;font-size: 80%;">{{'aboutus.TESTIMONIALS' | translate }}</small>
                    <h2 style="color: #633991;font-weight: 500;">{{'aboutus.TESTIMONIALS_sub' | translate }}</h2>
                </div>
            </div>

            <div class="owl-carousel owl-theme">
                <div class=" item testimonials-single ">
                    <img src="assets/img/aboutus/testimon1.jpeg" alt="client" class="carousel-client-img ">
                    <blockquote class="blockquote">{{'aboutus.TESTIMONIALS1' | translate }} </blockquote>
                    <h5 class="mt-4 mb-2 testimonialnombre">Martin Kleppmann</h5>
                    <p class="text-primary" style="color: #633991;">Germany</p>
                </div>
                <div class=" item testimonials-single ">
                    <img src="assets/img/aboutus/testimon2.jpeg" alt="client" class="carousel-client-img ">
                    <blockquote class="blockquote">{{'aboutus.TESTIMONIALS2' | translate }} </blockquote>
                    <h5 class="mt-4 mb-2 testimonialnombre">Mariko Kosaka</h5>
                    <p class="text-primary" style="color: #633991;">Japan</p>
                </div>
                <div class=" item testimonials-single ">
                    <img src="assets/img/aboutus/testimon3.jpeg" alt="client" class="carousel-client-img ">
                    <blockquote class="blockquote">{{'aboutus.TESTIMONIALS3' | translate }} </blockquote>
                    <h5 class="mt-4 mb-2 testimonialnombre">Monique Janower </h5>
                    <p class="text-primary" style="color: #633991;">United States</p>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
    <div class="section-21qq bo-bottom-padding">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-4 centre-align wow slideInUp"><img src="assets/img/aboutus/Telefono.svg" width="100%" data-w-id="91b4cd85-23db-8994-e8c7-0ba44fbb17ee" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                            alt="" class="phone-image"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 m-auto">
                        <div class="margin-bottom-2">
                            <h4 class="heading-20">{{'aboutus.Lokkl_App' | translate }}</h4>
                            <h2 class="heading-21">{{'aboutus.Lokkl_dowload' | translate }}</h2>
                            <p class="margin-bottom-2">{{'aboutus.Lokkl_texto' | translate }}</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="assets/img/aboutus/AppStore.svg" alt="" class="app-download-button">
                                </div>
                                <div class="col-sm-4">
                                    <img src="assets/img/aboutus/PlayStore.svg" alt="" class="app-download-button">
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-copy_2 lg-5 align-vertically">

                        <div class="div-block-33"></div>
                    </div> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- // end .section -->

    </div>
    <!--/container-->