.container {
    padding-right: 0px;
    padding-left: 0px;
}

.compramobile {
    display: none;
}

.compraweb {
    display: block;
}

@media (max-width: 575px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .compraweb {
        display: none;
    }
    .compramobile {
        display: block;
    }
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado h1 {
    color: #fff;
    font-size: 3.625rem;
    text-transform: uppercase;
    font-family: Exo, sans-serif;
}

agm-map {
    height: 300px;
}

.space-top-4 {
    margin-top: 24px;
}

.palomita {
    margin-right: 1rem!important;
    height: 20px;
    width: 20px;
    position: relative;
}


.gallery-wrapper .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
   /* width: 500px;
    height: 400px;
    border-color: #4a89ff;
   */
}

  
  