<div *ngIf="cargando">
    <app-spineer></app-spineer>
</div>

<div id="page" class="theia-exception" *ngIf="!cargando">
    <br>
    <br>
    <br>
    <main>
        <div class="bg_color_1">
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-sm-12">
                        <section>
                            <h1>{{ tour?.name }}
                                <span class="tour-details__title-image verified" *ngIf="tour.verificado == 'Si'">
                                    <img src="https://image.flaticon.com/icons/svg/1828/1828640.svg" width="25px"
                                        title="Este tour a sido verificado" alt="Verificado">
                                </span>
                            </h1>

                            <div class="row no-gutters">
                                <div class="col-sm-3">
                                    <p>
                                        <img src="assets\img\icons\tour\icons8-intervalo-de-tiempo.svg" alt=""
                                            width="25px"> {{ tour?.duration}} (aprox.)
                                    </p>
                                </div>

                                <div class="col-sm-4">
                                    <p>
                                        <img src="assets\img\icons\tour\icons8-marker-48.png" alt="" width="25px">
                                        {{ tour?.cuidad}} , {{ tour?.pais}}
                                    </p>
                                </div>

                                <div class="col-sm-4">
                                    <p>
                                        <img src="assets\img\icons\tour\icons8-mensaje-de-chat-enviado-64.png" alt=""
                                            width="25px"> {{ 'tour.Disponibleen' | translate }} {{ tour?.lenguajes}}
                                    </p>
                                </div>
                            </div>


                        </section>
                    </div>

                    <div class="col-lg-8">
                        <section id="description">
                            <div class="gallery-wrapper">
                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery">
                                </ngx-gallery>
                            </div>
                            <h2>
                                {{ 'tour.Descripción' | translate }}
                            </h2>
                            <p [innerHTML]="tour?.schedulle"></p>

                            <hr>

                            <div class="compraweb">
                                <div class="box_detail booking ">
                                    <div class="price">
                                        <span>$ {{precioredondo}} {{tour?.moneda}}</span>
                                    </div>
                                    <form ngNativeValidate="ngNativeValidate" #f="ngForm" (ngSubmit)="reservarTour(f)">
                                        <div class="form-group">
                                            
                                        </div>

                                        <div class="product-counter">
                                            <input id="minus" type="button" (click)="decrement()" value="-" />
                                            <input id="quantity" type="text" value="{{numberClients}}"
                                                name="numberClients" readonly />
                                            <input id="plus" type="button" (click)="increment()" value="+" />
                                        </div>
                                        <br>
                                        <br>

                                        <br>

                                        <input type="submit" class="btn_1 full-width purchase"
                                            value="{{ 'tour.Reservar' | translate }}">

                                        <div class="text-center">
                                            <small>
                                                {{ 'tour.NoMoney' | translate }}
                                            </small>
                                        </div>
                                    </form>
                                </div>

                                <ul class="share-buttons">
                                    <strong>
                                        {{ 'tour.comparte' | translate }}
                                    </strong>
                                    <app-social-share></app-social-share>
                                </ul>

                                <section id="description">
                                    <p>
                                        <img class="imagenciruclo" [src]="tuGuia?.img | imagen">
                                        {{ 'tour.TuLOKKL' | translate }}
                                        <span [routerLink]="['/profile',tuGuia?.id]"
                                            routerLinkActive="router-link-active"
                                            style="color:#008489;cursor: pointer;">{{ tuGuia?.name }}</span>
                                    </p>
                                    <p>{{ tuGuia?.infopersonal }}</p>
                                </section>
                            </div>
                        </section>
                        <section id="description">
                            <h3>
                                {{ 'tour.Itinerario' | translate }}
                            </h3>
                            <br>
                            <div *ngFor="let item of tour?.itinerary;let indice=index">
                                <ul class="cbp_tmtimeline">
                                    <li>
                                        <div class="cbp_tmicon">{{indice+1}}</div>

                                        <div class="cbp_tmlabel">
                                            <div class="hidden-xs"></div>

                                            <h6>{{ item?.itinerary}}</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <h4></h4>

                            <h3>
                                {{ 'tour.Serviciosincluidos' | translate }}
                            </h3>

                            <div class="col-lg-12">
                                <div *ngFor="let item of tour?.whatsIncluded">
                                    <p>
                                        <img src="assets\img\icons\tour\icons8-checkmark.svg" alt="" class="palomita">
                                        {{item?.whatsIncluded }}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /col -->
                    <aside class="col-lg-4">
                        <br>
                        <div class="compramobile">
                            <div class="box_detail booking">
                                <div class="price">
                                    <span>$ {{precioredondo}} {{tour?.moneda}}</span>
                                </div>
                                <form ngNativeValidate="ngNativeValidate" #f="ngForm" (ngSubmit)="reservarTour(f)">
                                    <div class="form-group">
                                       
                                    </div>

                                    <div class="product-counter">
                                        <input id="minus" type="button" (click)="decrement()" value="-" />
                                        <input id="quantity" type="text" value="{{numberClients}}" name="numberClients"
                                            readonly />
                                        <input id="plus" type="button" (click)="increment()" value="+" />
                                    </div>
                                    <br>
                                    <br>

                                    <input type="submit" class="btn_1 full-width purchase"
                                        value="{{ 'tour.Reservar' | translate }}">

                                    <div class="text-center">
                                        <small>
                                            {{ 'tour.NoMoney' | translate }}
                                        </small>
                                    </div>
                                </form>
                            </div>

                            <ul class="share-buttons">
                                <strong>
                                    {{ 'tour.comparte' | translate }}
                                </strong>
                                <app-social-share></app-social-share>
                            </ul>

                            <section id="description">
                                <p>
                                    <img class="imagenciruclo" [src]="tuGuia?.img | imagen">
                                    {{ 'tour.TuLOKKL' | translate }}
                                    <span [routerLink]="['/profile',tuGuia?.id]" routerLinkActive="router-link-active"
                                        style="color:#008489;cursor: pointer;">{{ tuGuia?.name }}</span>
                                </p>
                                <p>{{ tuGuia?.infopersonal }}</p>
                            </section>
                        </div>
                    </aside>

                    <!-- /end precio -->

                    <div class="col-sm-12">
                        <hr>
                        <h3>{{ 'tour.Location' | translate }}</h3>
                        <div class="space-top-4">
                            <b> {{ 'tour.Comoencontrarme' | translate }}</b>{{ tour?.puntoInicio }}
                        </div>
                        <br>
                        <br>
                        <agm-map [latitude]="mapaGoogleLat" [longitude]="mapaGoogleLon" [scrollwheel]="false"
                            [zoom]="15">
                            <agm-marker [latitude]="mapaGoogleLat" [longitude]="mapaGoogleLon"></agm-marker>
                        </agm-map>

                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <section id="reviews">
                            <h2> {{ 'tour.Reviews' | translate }}</h2>
                            <hr>
                            <div class="reviews-container">
                                <div class="review-box clearfix" *ngFor="let comentario of Comentarios">
                                    <div class="rev-content">
                                        <div class="rating">
                                            <i class="icon_star voted"></i>
                                            <i class="icon_star voted"></i>
                                            <i class="icon_star voted"></i>
                                            <i class="icon_star voted"></i>
                                            <i class="icon_star"></i>
                                        </div>

                                        <div class="rev-info">
                                            {{ comentario.get_user.name }} – {{ comentario.created_at }}:
                                        </div>

                                        <div class="rev-text">
                                            <p>{{ comentario.comentario }}</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- /review-box -->
                                <!-- /review-box -->
                            </div>
                            <!-- /review-container -->
                        </section>
                    </div>
                </div>

                <!-- /container -->
            </div>

            <!-- /bg_color_1 -->
        </div>
    </main>

    <!-- /main -->
</div>