<div class="row no-gutters">
    <div class="home_section_5">
        <div class="col-sm-6 div-ocultar"></div>
        <div class="col-sm-6 div-block-4a">
            <div class="col-sm-10">
                <h2 class="heading-3 wow slideInRight" [innerHTML]="'home.WanttoLokkl' | translate "></h2>
                <p class="paragraph-3 wow slideInRight">{{ 'home.WanttoLokklMensaje' | translate}}
                    <br>
                </p>
                <a routerLink="/becomeguide" class="button w-button">{{ 'home.Becomeaguide' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<!--/call_section-->