<section class="home_section">
    <div class="row no-gutters homenormal ">

        <div class="col-sm-5  divformularioform">
            <form ngNativeValidate (submit)="buscarTourCuidad()" class="formulariobusqueda">
                <div class="row no-gutters custom-search-input-2">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="modal-header" id="tituloformulario">
                                <img src="assets/img/logo.png" height="10" alt="logolokkl"
                                    style="margin: auto; width: 30%; height: 10%;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5 class="modal-title" style="margin: auto;">{{ 'home.formularioparte1' | translate}}</h5>
                    <br>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" type="text" (keydown.enter)="$event.preventDefault()"
                                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
                                placeholder="{{ 'home.formularioparte2' | translate}}">
                            <i class="icon_pin_alt"></i>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <input type="submit" class="btn_search" value="{{ 'home.Search' | translate}}">
                    </div>
                </div>
                <!-- /row -->
            </form>

        </div>
        <div class="col-sm-1 divformulario   wow slideInLeft">
            <img src="assets/img/tikislokkl/Asomadocuerpo.png" alt="tiki" class="image-2">
        </div>

        <div class="col-sm-6 div-block1">
            <h1 class="paragraph wow fadeInUp" [innerHTML]="'home.MensajeWelcome' | translate"></h1>
            <a href="{{ 'home.URLVideo' | translate}}" class="popup-youtube video_popup"
                style=" color: #fff; font-size: 20px; ">
                <span class="spanbottonplay"><img src="assets/img/icons/home/play.svg" alt="playbotton" width="35px"
                        style=" margin-left: 5px; "></span> Intro Video</a>

        </div>
        <div class="col-lg-6 textobienvenidamobile">

            <h4 class="paragraph" [innerHTML]="'home.MensajeWelcome' | translate"></h4>
            <a href="{{ 'home.URLVideo' | translate}}" class="popup-youtube video_popup"
                style=" color: #fff; font-size: 20px; ">
                <span class="spanbottonplay"><img src="assets/img/icons/home/play.svg" alt="playbotton" width="35px"
                        style=" margin-left: 5px; "></span> Intro Video</a>


        </div>
    </div>
</section>

<app-ciudades></app-ciudades>
<!-- /container -->


<div class="row no-gutters">
    <div class="home_section_5">
        <div class="col-sm-6 div-ocultar"></div>
        <div class="col-sm-6 div-block-4a">
            <div class="col-sm-10">
                <h2 class="heading-3 wow slideInRight" [innerHTML]="'home.WanttoLokkl' | translate "></h2>
                <p class="paragraph-3 wow slideInRight">{{ 'home.WanttoLokklMensaje' | translate}}
                    <br>
                </p>
                <a routerLink="/becomeguide" class="button w-button">{{ 'home.Becomeaguide' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<!--/call_section-->