<br><br><br>
<section class="page-section-prospectos">
    <div class="container page-section-header">
        <h1 class="section-title-mega">{{ 'termsandconditions.privacidad' | translate }}</h1>
    </div>
</section>
<div class="tercer_nav" style="position: inherit !important">
    <div class="container">
        <ul class="clearfix">
            <li (click)="changeLang('es')"><a class="active">{{ 'termsandconditions.español' | translate }}</a></li>
            <li (click)="changeLang('en')"><a>{{ 'termsandconditions.ingles' | translate }}</a></li>
            <li>
                <a></a>
            </li>
        </ul>
    </div>
</div>
<br>

<div *ngIf="!cambiarIdioma" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="sixteen columns">
                <div></div>
                <p> El término "Lokkl", "Servicio", "nosotros", "nosotros" o "nuestro" se refiere al propietario del sitio web. El término "usted" se refiere al usuario o visitante de nuestro sitio web. Al utilizar lokkl.com o sus sitios web afiliados, o
                    sus subdominios, usted acepta estar legalmente obligado por estos términos, que entrarán en vigencia de inmediato:</p>
                <h2>General</h2>
                <ul>
                    <li> Lokkl puede cambiar estos Términos de servicio en cualquier momento mediante la publicación de cambios en línea. Revise estos Términos de servicio regularmente para asegurarse de estar al tanto de cualquier cambio realizado por Lokkl.
                        su uso continuo de lokkl.com o sitios web afiliados de los mismos, o subdominios de los mismos, después de que se publiquen los cambios significa que usted acepta estar legalmente obligado por estos términos según se actualicen
                        y / o modifiquen. </li>

                    <li> De vez en cuando, este sitio web también puede incluir enlaces a otros sitios web. Estos enlaces se proporcionan para su conveniencia para proporcionar más información. No significan que respaldamos los sitios web. No tenemos responsabilidad
                        por el contenido de los sitios web vinculados. </li>

                    <li> No puede copiar, reproducir, volver a publicar, descargar, publicar, transmitir, transmitir, poner a disposición del público, ni utilizar de otro modo el contenido de lokkl.com (incluido texto, imágenes, URL, información de precios,
                        etc.) en camino excepto por el tuyo uso personal / no-comercial. Cualquier otro uso del contenido de lokkl.com requiere el permiso previo por escrito de Lokkl. </li>
                </ul>
                <h2>Cancelaciones y &amp; Reembolsos</h2>
                <p> La naturaleza operativa de cada tour que aparece en lokkl.com es diferente. Por lo tanto, cada recorrido tiene una cancelación separada &amp; politica de reembolso. La política de reembolso específica del tour se le mostrará claramente
                    en el formulario de reserva (antes de realizar un pago): deberá aceptar explícitamente esa política. </p>

                <p> Para tours que no tienen una cancelación separada &amp; política de reembolso, se aplicará la siguiente política: </p>
                <ul>

                    <li> No hay reembolsos una vez que un tour o servicio ha comenzado a funcionar y / o cualquier parte del tour / servicio ha sido utilizada por el cliente previsto. </li>

                    <li> Si cancela <strong> al menos 7 días calendario </strong> antes de la fecha de salida del tour, no se aplicará ninguna penalización por cancelación. </li>

                    <li> Si cancela <strong> entre 2 y 6 días calendario </strong> antes de la fecha de salida del tour, <strong> se le cobrará una multa por cancelación equivalente al 50% del monto del tour </strong>.
                    </li>

                    <li> Si cancela <strong> dentro de 1 día </strong> de la fecha de salida del recorrido, <strong> se le cobrará una multa por cancelación equivalente al 100% del monto del recorrido </strong>. </li>
                </ul>

                <p> Los reembolsos se realizarán dentro de los 7 días hábiles posteriores a la fecha de cancelación. Sin embargo, tenga en cuenta que el monto puede demorar más en acreditarse en su cuenta, dependiendo de su banco emisor. No seremos responsables
                    de los retrasos causados ​​por su banco acredita el banco de fondos en su cuenta. </p>

                <h2> Responsabilidad limitada </h2>

                <ul>

                    <li> Bajo ninguna circunstancia, Lokkl o sus agentes, afiliados, proveedores de servicios, proveedores y / o distribuidores serán responsables de ninguna de las siguientes pérdidas o daños (ya sea que tales pérdidas estén previstas, previsibles,
                        conocidas o no): (a) pérdida de datos; (b) pérdida de ingresos o ganancias anticipadas; (c) pérdida de negocios; (d) pérdida de oportunidades; (e) pérdida de buena voluntad o daño a la reputación; (f) pérdidas sufridas por terceros;
                        o (g) cualquier indirecta, consecuente, daños especiales o ejemplares derivados del uso de lokkl.com independientemente de la forma de acción. </li>

                    <li> Lokkl y sus agentes y proveedores, al hacer arreglos para hoteles, tours, transporte o cualquier servicio relacionado con los itinerarios de clientes individuales, no serán responsables por lesiones, daños, pérdidas, accidentes, demoras
                        o demoras. irregularidad, responsabilidad o gasto para la persona o propiedad debido a un acto de incumplimiento por parte de cualquier hotel, transportista u otra compañía o persona que brinde servicios incluidos en los tours.
                    </li>

                    <li> Lokkl y sus agentes y proveedores no aceptan ninguna responsabilidad por enfermedad, hurto, disputas laborales, avería de maquinaria, restricciones gubernamentales, actos de guerra y / o terrorismo, condiciones climáticas, defectos
                        en cualquier vehículo de transporte. o por cualquier desgracia o siniestro o cualquier otra causa fuera de su control. </li>

                    <li> Todo el contenido en el sitio web de Lokkl, los sitios web afiliados del mismo y sus subdominios, incluida la información, nombres, imágenes, imágenes, logotipos, precios, fechas y disponibilidad de tours, se proporciona "TAL CUAL"
                        y "SEGÚN DISPONIBILIDAD " base sin ninguna representación o ningún tipo de garantía hecha (ya sea expresa o implícita por ley) en la medida permitida por la ley, incluidas las garantías implícitas de calidad satisfactoria, idoneidad
                        para un propósito particular, no infracción, compatibilidad, seguridad y precisión. </li>
                </ul>
                <h2> Privacidad de la información personal </h2>

                <ul>

                    <li> Podemos recopilar la siguiente información:
                        <ul>

                            <li> Sus datos de contacto, como dirección de correo electrónico, dirección de teléfono, dirección postal, etc. </li>

                            <li> Información personal detallada, como edad, altura, peso, detalles del pasaporte, etc. </li>

                            <li> Información de uso del sitio web, como páginas visitadas, dirección IP utilizada, hora de visitas, etc. </li>
                        </ul>
                    </li>

                    <li> Detalles de contacto &amp; La información personal detallada recopilada en el contexto de una reserva de viaje se compartirá con terceros, como operadores terrestres, hoteles, guías turísticos, pasarelas de pago, etc., para permitir
                        nosotros para completar la reserva. </li>

                    <li> La información de uso del sitio web se puede compartir de forma anónima, nuestra forma pseudoanonimizada con varios terceros que proporcionan servicios de análisis web. </li>

                    <li> La información personal se puede compartir con las agencias de aplicación de la ley según lo solicitado dentro del ámbito de las leyes vigentes en el momento en que se realizan dichas solicitudes.
                </ul>
                <p>&nbsp;</p>
                <div class="ig_inline_container ig_the_content ig_after"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cambiarIdioma" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="sixteen columns">
                <div></div>
                <p> The term “Lokkl”, “Service”, “us”, “we” or “our” refers to the owner of the website. The term “you” refers to the user or viewer of our website.By using lokkl.com, or affiliated websites thereof, or subdomains thereof, you agree to be
                    legally bound by these terms, which shall take effect immediately:</p>
                <h2>General</h2>
                <ul>
                    <li>Lokkl may change these Terms of Service at any time by posting changes online. Please review these Terms of Service regularly to ensure you are aware of any changes made by Lokkl. your continued use of lokkl.com, or affiliated websites
                        thereof, or subdomains thereof, after changes are posted means you agree to be legally bound by these terms as updated and/or amended.</li>
                    <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for
                        the content of the linked website(s).</li>
                    <li>You may not copy, reproduce, republish, download, post, broadcast, transmit, make available to the public, or otherwise use lokkl.com content (inclusive of text, images, URLs, pricing information, etc.) in any way except for your own
                        personal, non-commercial use. Any other use of lokkl.com content requires the prior written permission of Lokkl.</li>
                </ul>
                <h2>Cancellations &amp; Refunds</h2>
                <p>The operational nature of each tour listed on lokkl.com is different. Therefore, each tour has a separate cancellation &amp; refund policy. The tour-specific refund policy will be clearly displayed to you on the booking form (before making
                    a payment) – you will have to explicity agree to that policy.</p>
                <p>For tours which do not have a separate cancellation &amp; refund policy, the following policy shall apply:</p>
                <ul>
                    <li>No refunds once a tour or service has commenced operation and/or any part of the tour/service has been utilized by the intended customer.</li>
                    <li>If you cancel <strong>at least 7 calendar days</strong> in advance of the tour’s departure date, no cancellation penalty will be charged.</li>
                    <li>If you cancel <strong>between 2 to 6 calendar days</strong> in advance of the tour’s departure date, <strong>a cancellation penalty equal to 50% of the tour amount</strong> will be charged.</li>
                    <li>If you cancel <strong>within 1 day</strong> of the tour’s departure date, <strong>a cancellation penalty equal to 100% of the tour amount</strong> will be charged.</li>
                </ul>
                <p>Refunds will be made within 7 working days of the cancellation date. However, please note, the amount may take longer to be credited into your account, depending upon your issuing bank. We shall not be held liable for delays caused by
                    your bank in crediting the funds bank into your account.</p>
                <h2>Limited Liability</h2>
                <ul>
                    <li>Under no circumstances will Lokkl or its agents, affiliates, service providers, suppliers, and/or distributors be liable for any of the following losses or damage (whether such losses where foreseen, foreseeable, known or otherwise):
                        (a) loss of data; (b) loss of revenue or anticipated profits; (c) loss of business; (d) loss of opportunity; (e) loss of goodwill or injury to reputation; (f) losses suffered by third parties; or (g) any indirect, consequential,
                        special or exemplary damages arising from the use of lokkl.com regardless of the form of action.</li>
                    <li>Lokkl and its agents and suppliers, in making arrangements for hotels, tours, transportation or any service in connection with the itineraries of individual customers, shall not be liable for injury, damage, loss, accident, delay or
                        irregularity, liability or expense to person or property due to act of default by any hotel, carrier or other company or person providing services included in the tours.</li>
                    <li>Lokkl and its agents and suppliers accept no responsibility for any sickness, pilferage, labor disputes, machinery breakdown, government restrains, acts of war and/or terrorism, weather conditions, defect in any vehicle of transportation
                        or for any misadventure or casualty or any other causes beyond their control.</li>
                    <li>All content on the Lokkl website, affiliated websites thereof, and subdomains thereof – including information, names, images, pictures, logos, prices, dates, and availability of tours – is provided “AS IS” and on an “AS AVAILABLE”
                        basis without any representations or any kind of warranty made (whether express or implied by law) to the extent permitted by law, including the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement,
                        compatibility, security and accuracy.</li>
                </ul>
                <h2>Privacy of Personal Information</h2>
                <ul>
                    <li>We may collect the following information:
                        <ul>
                            <li>Your contact details, like email address, phone address, mailing address, etc.</li>
                            <li>Detailed personal information, like age, height, weight, passport details, etc.</li>
                            <li>Website usage information, like pages visited, IP address used, time of visits, etc.</li>
                        </ul>
                    </li>
                    <li>Contact details &amp; detailed personal information collected in the context of a tour booking will most certainly be shared with various third-parties, such as, ground operators, hotels, tour guide, payment gateways, etc, to enable
                        us to fulfill the booking.</li>
                    <li>Website usage information may be shared in an anonymized our pseudo-anonymized manner with various third-parties providing web analytics services.</li>
                    <li>Personal information may be shared with law-enforcing agencies as requested within the ambit of laws in force at the time such requests are made.</li>
                </ul>
                <p>&nbsp;</p>
                <div class="ig_inline_container ig_the_content ig_after"></div>
            </div>
        </div>
    </div>
</div>