<section class="hero_in becomeguide">
    <div class="wrapper">
        <div class="container">
            <h1>{{ 'becomeguide.Title-Become-Guide' | translate }}</h1>
            <h4 style="color: #fff">{{ 'becomeguide.subTitle-Become-Guide' | translate }}</h4>
            <div class="add_top_30" style="text-align: center;">
                <button class="btn_1 rounded" id="submit-contact" routerLink="/login"
                    style="background: #00A8F0;">{{ 'becomeguide.botton-getStarted' | translate }}</button>
            </div>
        </div>
    </div>
</section>
<main>
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12">
                    <div class="add_bottom_45 accordion_2 row">
                        <div class="col-md-4">
                            <div class="wow slideInUp">
                                <img src="assets/img/becomeguide/tiki_icono_money.png" alt="" srcset="" width="200"
                                    height="200" class="tikibeneficios"> <br><br>
                                <h4 style="text-align: center;">{{ 'becomeguide.beneficiostitle1' | translate }}</h4>
                                <p>{{ 'becomeguide.beneficioscontenido1' | translate }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wow slideInUp">
                                <img src="assets/img/becomeguide/tiki_icono_fun.png" alt="" srcset="" width="200"
                                    height="200" class="tikibeneficios"><br><br>
                                <h4 style="text-align: center;">{{ 'becomeguide.beneficiostitle2' | translate }}</h4>
                                <p>{{ 'becomeguide.beneficioscontenido2' | translate }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wow slideInUp">
                                <img src="assets/img/becomeguide/tiki_icono_world.png" alt=" " srcset="" width="200"
                                    height="200" class="tikibeneficios"><br>
                                <h4 style="text-align: center;">{{ 'becomeguide.beneficiostitle3' | translate }}</h4>
                                <p>{{ 'becomeguide.beneficioscontenido3' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row  -->
        </div>
        <!--/container-->

        <div class="process_section">
            <div class="top-title">

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="section-title text-white" style="text-align: center">
                            {{ 'becomeguide.titlelinetime' | translate }} </h5>
                        <h1 class="section-title text-white">{{ 'becomeguide.subtitlelinetime' | translate }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="timeline" class="vtimeline">
                            <div class="vtimeline-point">
                                <div class="vtimeline-icon wow zoomIn">
                                    1
                                </div>
                                <div class="vtimeline-block">
                                    <span class="vtimeline-date  wow slideInRight">
                                        <img src="assets/img/becomeguide/Mapa.png" alt="" srcset="" width="250"
                                            height="250" class="tikibeneficiis"> <br>
                                    </span>
                                    <div data-vtdate="Diciembre 2013" class="vtimeline-content wow slideInLeft">
                                        <img src="assets/img/becomeguide/Mapa.png" alt="" srcset="" width="80%"
                                            height="80%" class="tikibeneficiismobile"> <br>

                                        <h2 class="h2">{{ 'becomeguide.section1titlelinetime' | translate }}</h2>
                                        <p class="main-text"
                                            [innerHTML]="'becomeguide.section1contenidolinetime' | translate "></p>
                                    </div>
                                </div>
                            </div>

                            <div class="vtimeline-point">
                                <div class="vtimeline-icon wow zoomIn">
                                    2
                                </div>
                                <div class="vtimeline-block vtimeline-right">
                                    <span class="vtimeline-date wow slideInLeft">
                                        <img src="assets/img/becomeguide/mago.png" alt="" srcset="" width="250"
                                            height="250" class="tikibeneficiis"> <br>
                                    </span>
                                    <div data-vtdate="Diciembre 2013" class="vtimeline-content wow slideInRight">
                                        <img src="assets/img/becomeguide/mago.png" alt="" srcset="" width="80%"
                                            height="80%" class="tikibeneficiismobile"> <br>

                                        <h2 class="h2">{{ 'becomeguide.section2titlelinetime' | translate }}</h2>
                                        <p class="main-text"
                                            [innerHTML]="'becomeguide.section2contenidolinetime' | translate "></p>

                                    </div>
                                </div>
                            </div>
                            <div class="vtimeline-point">
                                <div class="vtimeline-icon wow zoomIn">
                                    3
                                </div>
                                <div class="vtimeline-block">
                                    <span class="vtimeline-date wow slideInRight">
                                        <img src="assets/img/becomeguide/foto.png" alt="" srcset="" width="250"
                                            height="250" class="tikibeneficiis"> <br>
                                    </span>
                                    <div data-vtdate="Diciembre 2013" class="vtimeline-content wow slideInLeft">
                                        <img src="assets/img/becomeguide/foto.png" alt="" srcset="" width="80%"
                                            height="80%" class="tikibeneficiismobile"> <br>

                                        <h2 class="h2">{{ 'becomeguide.section3titlelinetime' | translate }}</h2>
                                        <p class="main-text">{{ 'becomeguide.section3contenidolinetime' | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vtimeline-point">
                                <div class="vtimeline-icon wow zoomIn">
                                    4
                                </div>
                                <div class="vtimeline-block vtimeline-right">
                                    <span class="vtimeline-date wow slideInLeft">
                                        <img src="assets/img/becomeguide/passport.png" alt="" srcset="" width="310"
                                            height="270" class="tikibeneficiis"> <br>
                                    </span>
                                    <div data-vtdate="Diciembre 2013" class="vtimeline-content wow slideInRight">
                                        <img src="assets/img/becomeguide/passport.png" alt="" srcset="" width="100%"
                                            height="80%" class="tikibeneficiismobile"> <br>
                                        <h2 class="h2">{{ 'becomeguide.section4titlelinetime' | translate }}</h2>
                                        <p class="main-text">{{ 'becomeguide.section4contenidolinetime' | translate }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row ">
                <!--/aside -->

                <div class="col-lg-10 m-auto">
                    <h2 class="nomargin_top margin_80 wow zoomIn" style="text-align: center">
                        {{ 'becomeguide.titlepreguntas' | translate }}</h2>
                    <div role="tablist" class="add_bottom_45 accordion_2" id="">
                        <div class="card wow slideInUp">
                            <div class="card-header" role="tab">
                                <h5 class="mb-0">
                                    <strong class="circlenumero wow ZoomInUp">1</strong>
                                    <a data-toggle="collapse" href="#collapseOne_tips" aria-expanded="true"><i
                                            class="indicator ti-angle-down"></i>{{ 'becomeguide.titlepregunta1' | translate }}</a>
                                </h5>
                            </div>

                            <div id="collapseOne_tips" class="collapse show" role="tabpanel" data-parent="#tips">
                                <div class="card-body">
                                    <p>{{ 'becomeguide.respuestapregunta1' | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div class="card wow slideInUp">
                            <div class="card-header" role="tab">
                                <h5 class="mb-0">
                                    <strong class="circlenumero wow ZoomInUp">2</strong>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo_tips"
                                        aria-expanded="false">
                                        <i
                                            class="indicator ti-angle-down"></i>{{ 'becomeguide.titlepregunta2' | translate }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo_tips" class="collapse" role="tabpanel" data-parent="#tips">
                                <div class="card-body">
                                    <p>{{ 'becomeguide.respuestapregunta2' | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div class="card wow slideInUp">
                            <div class="card-header" role="tab">
                                <h5 class="mb-0">
                                    <strong class="circlenumero">3</strong>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree_tips"
                                        aria-expanded="false">
                                        <i
                                            class="indicator ti-angle-down"></i>{{ 'becomeguide.titlepregunta3' | translate }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree_tips" class="collapse" role="tabpanel" data-parent="#tips">
                                <div class="card-body">
                                    <p>{{ 'becomeguide.respuestapregunta3' | translate }}</p>

                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <div class="card wow slideInUp">
                            <div class="card-header" role="tab">
                                <h5 class="mb-0">
                                    <strong class="circlenumero wow ZoomInUp">4</strong>
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour_tips"
                                        aria-expanded="false">
                                        <i
                                            class="indicator ti-angle-down"></i>{{ 'becomeguide.titlepregunta4' | translate }}
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour_tips" class="collapse" role="tabpanel" data-parent="#tips">
                                <div class="card-body">
                                    <p>{{ 'becomeguide.respuestapregunta4' | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!--/container-->
    </div>
    <div style="background-color: #013B8C; ">
        <div class="cuadro_mensaje ">
            <div class="Texto_mensaje " [innerHTML]="'becomeguide.mensajefinal' | translate "></div>
            <div class="add_top_30 " style="text-align: center; ">
                <button class="btn_1 rounded " id="submit-contact " routerLink="/login"
                    style="width: 100%;background: #00A8F0;">{{ 'becomeguide.botton-getStarted' | translate }}</button>
            </div>
        </div>
    </div>
</main>