<div id="register_bg">
    <nav id="menu" class="fake_menu"></nav>
    <div id="mm-0" class="mm-page mm-slideout">
        <div id="preloader" style="display: none;">
            <div data-loader="circle-side" style="display: none;"></div>
        </div>
        <div id="login">
            <aside>
                <form ngNativeValidate #f='ngForm' (ngSubmit)="enviarCorreoRecuperacion(f)" style="margin-top: 50%;">
                    <br><br>
                    <div class="form-group">
                        <p>Ingresa una dirección de correo a la cual enviar un email y las instrucciones para realizar el cambio de contraseña.</p>

                    </div>
                    <div class="form-group">
                        <label>{{ 'login.Email' | translate }} </label>
                        <input name="email" class="form-control" type="email" ngModel required placeholder="{{ 'login.Email' | translate }}">
                        <i class="icon_lock_alt"></i>
                    </div>
                    <button class="btn_1 rounded full-width add_top_30">{{ 'profile.Send' | translate }}</button>

                </form>
            </aside>
        </div>
    </div>
    <!-- End Preload -->
</div>