<div class="fondomosaico">
    <div class="row no-gutters">

        <div class="content-item">
            <div class="pic">
                <a href="https://www.queretaro.gob.mx/">
                    <img src="assets/img/sponsors/Queretaro_logo.jpg">
                </a>
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <a href="https://www.anahuac.mx/queretaro/" target="_blank">
                    <img src="assets/img/sponsors/anahuac.jpg">
                </a>
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <a href="https://grupovelas.com.mx/" target="_blank">
                    <img src="assets/img/sponsors/velas.jpg">
                </a>
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <a href="http://www.corregidora.gob.mx/" target="_blank">
                    <img src="assets/img/sponsors/corregidora.jpg">
                </a>
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <a href="https://tarmexico.com/" target="_blank">
                    <img src="assets/img/sponsors/tar.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="content-item">
            <div class="pic">
                <a href="http://www.decote.mx/" target="_blank">
                    <img src="assets/img/sponsors/jfr.jpg">
                </a>
            </div>
        </div>

    </div>
</div>

<div style="margin-bottom: 10%"></div>