<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center" style="font-size: 3rem; "><strong class="plus">+</strong> Sponsors</h1>
        </div>
        <br><br>
        <div class="col-sm-12">
            <h2 class="text-center"><strong class="plus">+</strong> Premium</h2>
        </div>
        <br><br>
        <hr class="hr">
        <div class="col-sm-6">
            <a href="http://www.corregidora.gob.mx/portal/" target="_blank">
                <img src="assets/img/sponsors/corregidora.png" alt="" class="imagenlogo">
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.queretaro.gob.mx/" target="_blank">
                <img src="assets/img/sponsors/gobierno-del-estado-de-queretaro.png" alt="" class="imagenlogo">
            </a>
        </div>
        <div style="margin-bottom: 20%"></div>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a href="https://www.queretaro.travel/es/" target="_blank">
                <img src="assets/img/sponsors/qroTravel.svg" alt="" class="imagenlogo">
            </a>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-12">
            <div class="add_top_30 " style="text-align: center; ">
                <button class="btn_1 rounded " id="submit-contact " routerLink="/sponsors"
                    style="width: 100%;background: #00A8F0;">Conoce mas de nuestros sponsors</button>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10%"></div>
</div>