<main>
    <section class="hero_in tours">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>{{'getstarted.titleGetStarded' | translate }}</h1>
            </div>
        </div>
    </section>
</main>

<div class="bg_color_1">
    <div class="container margin_60">
        <div class="main_title_2">
            <h2>{{'getstarted.subtitleGetStarded' | translate }}</h2>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>

<div class="section-21">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6 wow slideInLeft">
                    <img src="assets/img/getstarted/section1.jpeg" alt="" width="100%">
                </div>
                <div class="col-sm-6 wow slideInRight" style="padding: 64px;margin: auto">
                    <div class="textoblanco">
                        <h2 style="color:#fff;">{{'getstarted.Get-title1' | translate }}</h2>
                        <p class="margin-bottom" [innerHTML]="'getstarted.Get-contenido1' | translate "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-21a">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6 wow slideInLeft" style="padding: 64px;margin: auto">
                    <div class="textoazul">
                        <h2 style="color:#014ea2;">{{'getstarted.Get-title2' | translate }}</h2>
                        <p class="margin-bottom" [innerHTML]="'getstarted.Get-contenido2' | translate "></p>
                    </div>
                </div>
                <div class="col-sm-6 wow slideInRight">
                    <img src="assets/img/getstarted/section2.jpeg" alt="" width="100%">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section-21">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6 wow slideInLeft">
                    <img src="assets/img/getstarted/section3.jpeg" alt="" width="100%">
                </div>
                <div class="col-sm-6 wow slideInRight" style="padding: 64px;margin: auto">
                    <div class="textoblanco">
                        <h2 style="color:#fff;">{{'getstarted.Get-title3' | translate }}</h2>
                        <p class="margin-bottom" [innerHTML]="'getstarted.Get-contenido3' | translate "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-21a">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6 wow slideInLeft" style="padding: 64px;margin: auto">
                    <div class="textoazul">
                        <h2 style="color:#014ea2;">{{'getstarted.Get-title4' | translate }}</h2>
                        <p class="margin-bottom" [innerHTML]="'getstarted.Get-contenido4' | translate "></p>
                    </div>
                </div>
                <div class="col-sm-6 wow slideInRight">
                    <img src="assets/img/getstarted/section4.jpeg" alt="" width="100%">
                </div>

            </div>
        </div>
    </div>
</div>