<div class="bg_color_1">
    <br>
    <br>
    <br>
    <section class="page-section-prospectos">
        <div class="container page-section-header">
            <h1 class="section-title-mega"><br></h1>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <svg class="centrarimagen" width="54" height="55" viewBox="0 0 54 55" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M0 0h54v55H0z"></path><path d="M54 27.879c0 14.913-12.091 27-27 27-14.916 0-27-12.087-27-27 0-14.914 12.084-27 27-27 14.909 0 27 12.086 27 27z" fill="#D3F3EC"></path><g stroke="#00A680"><path d="M36.5 16.879h-19a.5.5 0 0 0-.5.5v7.265a18.23 18.23 0 0 0 9.768 16.178.5.5 0 0 0 .465 0A18.234 18.234 0 0 0 37 24.644v-7.265a.5.5 0 0 0-.5-.5" stroke-width="1.5"></path><path d="M32.841 24.244l-7.501 7a.498.498 0 0 1-.695-.013l-2.498-2.5a.499.499 0 0 1 0-.707.499.499 0 0 1 .707 0l2.158 2.158 7.147-6.67a.5.5 0 1 1 .682.732" stroke-width=".5" fill="#00A680"></path><path d="M17.5 20.405H37" stroke-width="1.5" stroke-linecap="square"></path></g></g></svg>
            </div>
            <div class="col-sm-10">
                <h4 class="section-title ">{{ 'validateIdentify.StartVerification' | translate }}</h4>

                <div>{{ 'validateIdentify.StartVerificationText' | translate }}</div>

            </div>
            <hr style="margin-top:7%;">
            <div class="col-sm-6">
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        <img src="assets/img/becomeguide/passport.png" alt="" srcset="" width="100%" height="150px" class="tikibeneficiis"> <br>
                    </div>
                    <div class="col-sm-7">
                        <h3>{{ 'validateIdentify.Step1' | translate }}</h3>
                        <p>{{ 'validateIdentify.Step1Text' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row no-gutters">
                    <div class="col-sm-5">
                        <img src="assets/img/becomeguide/tiki_icono_world.png" alt="" srcset="" width="150px" height="150px" class="tikibeneficiis"> <br>
                    </div>
                    <div class="col-sm-7">
                        <h3>{{ 'validateIdentify.Step2' | translate }}</h3>
                        <p>{{ 'validateIdentify.Step2Text' | translate }}</p>

                    </div>
                </div>

            </div>
            <hr class="large">
            <span>{{ 'validateIdentify.Privacity' | translate }}</span>
            <br><br><br>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <app-verificador1></app-verificador1>
            </div>
            <div class="col-sm-6">
                <app-verificador2></app-verificador2>
            </div>
            <div class="col-sm-6">
                <app-verificador3></app-verificador3>
            </div>
            <div class="col-sm-6">
                <app-verificador4></app-verificador4>
            </div>
        </div>
        <!-- end row -->
        <hr style="margin-top: 2%;">
        <button type="submit" class="btn btn-primary btn-block add_top_30" routerLink="/users/createtours">{{ 'contact.Send' | translate }}</button>
        <hr style="margin-top: 7%;">
    </div>